<h2>Select your weapon!</h2>

<form action='/result' method='post'>
  <label for='choice'>Weapon choice:</label>
    <select id='choice' name='choice'>
      <option value='rock'>Rock</option>
      <option value='paper'>Paper</option>
      <option value='scissors'>Scissors</option>
    </select>
    <input type='submit' value='Select'>
</form>
