<h2>Welcome to Rock, Paper, Scissors</h2>

<form action='/singleplayer/registration' method='post'>
  <input type='submit' value='Single Player Game'>
</form>
<form action='/multiplayer/registration' method='post'>
  <input type='submit' value='Multiplayer Game'>
</form>